bin/*
__pycache__/
*.pyc
.vscode
logs/*
!logs/.gitkeep
test*
data/*
!/data/.gitkeep
.DS_Store
init_program.sh
.venv
!bin/.gitkeep
config/xray.json
src/auto_bushu/server_info.py
config/*
!config/.gitkeep
!data/torData

*.tar